$light:     #fff;
// $stable:    #f8f8f8;
$positive: #ac4339;
$calm:      #d3776f;
$balanced:  #659f60;
// $energized: #ffc900;
$assertive: #d6a35c;
$royal:     #4d88b3;
$dark:      #555;

$soft:  lavender;

$footer-height: 60px;
$sub-footer-height: 44px;

$item-thumbnail-width:            80px;
$item-thumbnail-height:           80px;
$item-thumbnail-margin:           2px;

$item-padding:                    8px;

$bar-footer-height:               60px;

@import "{}/node_modules/reactionic/dist/scss/styles/reactionic.scss";

a{
  text-decoration: none;
}

@font-face {
    font-family: 'rubik'; /*a name to be used later*/
    src: url('/fonts/Rubik-Bold.ttf'); /*URL to font*/
}

html {
    overflow: scroll;
}
::-webkit-scrollbar {
    width: 3px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #888888;
}

.kitchen-option{
  margin: 3px;
  width: 70px;
}

.soft{
  color: $soft;
}

.item.soft{
  background-color: $soft;
}

.no-margin{
  margin: 0 !important;
}

.not-assigned{
  display:none;
}

.table-select>button{
  @extend .big-text;
  font-weight: bold;
  color: $positive !important;
}

.item-input-inset>strong{
  padding-left: 3px;
}

.middle-align{
  vertical-align: middle;
}

.rubik-font>h1{
  font-family: "rubik" !important;
  font-size: 2.5em !important;
  font-weight: bolder !important;
}

.logo-space{
  background: rgba(255, 255, 255, .3);
}

.logo-space>img{
  display: block;
    margin: auto;
    width: 80%;
}

.has-footer {
  bottom: $footer-height !important;
}
.has-sub-footer  {
  bottom: ($footer-height + $sub-footer-height) !important;
}

.content{
  background-color: hsl(34, 53%, 82%);
  background-image: repeating-linear-gradient(45deg, transparent 5px,
    hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
    hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, hsla(197, 62%, 11%, 0.5) 120px, hsla(197, 62%, 11%, 0.5) 140px
    ),
  repeating-linear-gradient(135deg, transparent 5px,
    hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
    hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 140px, hsla(197, 62%, 11%, 0.5) 140px, hsla(197, 62%, 11%, 0.5) 160px
  );
}

.card, .list-inset {
    margin: 10px 5px;
}

.big-text{
  font-size: 1.3em !important;
}
.wrapit{
  overflow: initial !important;
  text-overflow: initial !important;
  white-space: initial !important;
}
em{
  font-style: italic;
}
.listAbsoluteRight{
  position: absolute;
  right: 8px;
  top: 8px;
}
.anchorDownRight{
  position: absolute;
  right: 8px;
  bottom: 8px;
}
.bar-footer.has-tabs{
  bottom:0;
}
.tablenuminput{
  height: 45px;
}
.tablenuminput>input{
  font-size: 1.5em;
  width: 100%;
}
.darkerText{
  color: #333;
}
.bert-alert {
  opacity: 0.8;
}
.float-right{
  float: right;
}
.item.custom{
  padding-right: 8px;
}
.row.custom{
  padding: 0;
}
.col.custom{
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}
.textinputmargin{
  margin-left: 8px;
}
.paddingRight{
  padding-right: 8px;
}
.margin-right{
  margin-right: 8px;
}
.with-padding{
  padding: 4px;
  padding-right: 8px;
  padding-left: 8px;
}
.center{
  margin: 0 auto;
  text-align: center;
}

// .image-container {
//     width: 40%;
//     height: 40%;
//     background: #444;
//     margin: 0 auto;
// }
img.thum{
    max-width: 100%;
    max-height: 100%;
    height: auto;
}
//
// .bar-dark .button.button-clear {
//     color: $react-blue;
// }
//
// .stretch {
//     height: 100%;
//     width: 100%;
// }
//
// .platform-ios.platform-cordova {
//   &:not(.fullscreen) {
//     .scroll-content.ios-top-margin {
//         top: $ios-statusbar-height;
//     }
//     .bar-header:not(.bar-subheader) {
//       span > .title {
//           top: $ios-statusbar-height;
//       }
//     }
//   }
// }
//
// .slide-demo {
//     text-align: center;
//     padding-top: 200px;
// }
// .slide-demo.dark {
//     background-color: #444;
//     h3 {
//         color: $react-blue;
//     }
// }
// .slide-demo.blue {
//     background-color: $react-blue;
//     color: #000;
// }
//
// .side-menu {
//     background-color: $stable;
//     color: $dark;
// }
