// $react-blue: #00d8ff;
// $bar-dark-text: $react-blue;
// $dark: #000000;
// $positive: $react-blue;

@import "{}/node_modules/reactionic/dist/scss/styles/reactionic.scss";

$content-background: lighten($positive, 20%);

a{
  text-decoration: none;
}

.content{
  background-color: $content-background;
}

.big-text{
  font-size: 1.3em;
}
.wrapit{
  overflow: initial !important;
  text-overflow: initial !important;
  white-space: initial !important;
}
em{
  font-style: italic;
}
.listAbsoluteRight{
  position: absolute;
  right: 8px;
  top: 8px;
}
.anchorDownRight{
  position: absolute;
  right: 8px;
  bottom: 8px;
}
.bar-footer.has-tabs{
  bottom:0;
}
.tablenuminput{
  height: 45px;
}
.tablenuminput>input{
  font-size: 1.5em;
  width: 100%;
}
.darkerText{
  color: #333;
}
.bert-alert {
  opacity: 0.8;
}
.float-right{
  float: right;
}
.item.custom{
  padding-right: 8px;
}
.row.custom{
  padding: 0;
}
.col.custom{
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}
.textinputmargin{
  margin-left: 8px;
}
.paddingRight{
  padding-right: 8px;
}
.with-padding{
  padding: 4px;
  padding-right: 8px;
  padding-left: 8px;
}
//
// .bar-dark .button.button-clear {
//     color: $react-blue;
// }
//
// .stretch {
//     height: 100%;
//     width: 100%;
// }
//
// .platform-ios.platform-cordova {
//   &:not(.fullscreen) {
//     .scroll-content.ios-top-margin {
//         top: $ios-statusbar-height;
//     }
//     .bar-header:not(.bar-subheader) {
//       span > .title {
//           top: $ios-statusbar-height;
//       }
//     }
//   }
// }
//
// .slide-demo {
//     text-align: center;
//     padding-top: 200px;
// }
// .slide-demo.dark {
//     background-color: #444;
//     h3 {
//         color: $react-blue;
//     }
// }
// .slide-demo.blue {
//     background-color: $react-blue;
//     color: #000;
// }
//
// .side-menu {
//     background-color: $stable;
//     color: $dark;
// }
